<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-2">
        <li class="nav-item px-4">
          <div class="demo">
          <a class="nav-link active" aria-current="page" href="#" style="color: black;">DEMO APP</a>
        </div>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-2" style="margin-left: auto;">
        <li class="nav-item px-4">
          <a class="nav-link active" aria-current="page" href="#" routerLink="" style="color: white;">HOME</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#" routerLink="/about" style="color: white;">ABOUT US</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#" routerLink="/jobs" style="color: white;">JOBS</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#" routerLink="" style="color: white;">CLIENTS</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#" routerLink="" style="color: white;">EMPLOYEES</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="#" routerLink="/modify" style="color: white;">CONTACTUS</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>