<div class="banner">
 <div class="overlay">
     <div class="homedata">
        <app-nav></app-nav>
        <div class="search">
            <h2>I'm looking for..</h2>
            <input type="text" placeholder="Enter a job Description">
            <button class="btn btn-primary">search</button>
            <div class="registerbtn">
                <button class="btn btn-primary" (click)="register()" data-toggle="modal" data-target="#myModal">Register</button>
            </div>
        </div>

     </div>
 </div>
 
</div>
<div class="sect2">
<div class="homedata" style="padding-top: 50px;">
<p>we're leader in</p>
<h3>Creative Digital Recruitment</h3>
</div>
</div>
